.push {
    width: 82px;
    height: 82px;
    position: absolute;
    left: 30%;
    top: 51.5%;
    cursor: pointer;
    background: url("../images/pushTest.png") no-repeat;
    background-position: 0 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.push.active {
    background-position: -820px 0;
    transition: .7s steps(10);
}
.good {
    width: 123px;
    height: 123px;
    position: absolute;
    right: 48%;
    top: 50%;
    cursor: pointer;
    background: url("../images/good_sheet3.png") no-repeat;
    background-position: 0 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.good.active {
  background-position: -2952px 0;
  transition:  1s steps(24);
} 